<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="base/base"
    th:with="currentPage='usuario'">

<head>
    <title>Clínicas - Usuário</title>
    
</head>

<section layout:fragment="conteudo" th:with="acao_url=${acao == 'ADICIONAR'? 'adicionar' :'editar' }">
	<div class="row">
	
		<div class="col s12 breadcrumbs valign-wrapper">
            <a th:href="@{/}" class="breadcrumb blue-grey-text">
                <i class="material-icons left">home</i>
            </a>
            
            <a th:href="@{/usuario/listar}" class="breadcrumb blue-grey-text">Usuário</a>
            
            <a th:if="${acao == 'ADICIONAR'}" class="breadcrumb blue-grey-text">Cadastrar</a>
            <a th:if="${acao == 'EDITAR'}" class="breadcrumb blue-grey-text">Editar</a>
        </div>
	
	    <div class="col s12">
	
	        <form class="card form_ajax" data-model="usuario" th:attr="data-action=${acao_url}" method="post" th:action="@{${'/usuario/api/'+acao_url}}" th:object="${usuario}">
	        
	        	<div class="card-image light-blue lighten-1 center-align">
	        		<a th:if="${acao == 'ADICIONAR'}" class="card-title-large blue-grey-text text-lighten-5">Cadastrar Usuário</a>
            		<a th:if="${acao == 'EDITAR'}" class="card-title-large blue-grey-text text-lighten-5">Editar Usuário</a>
				</div>

				<div class="card-content">     
	         		<input th:if="${acao == 'EDITAR'}" type="hidden" th:field="*{id}"/>
	             		<div class="row">
	                        <div class="input-field col s6">
	                            <input id="siape" type="text" th:field="*{siape}" class="validate" required="required"/>
	                            <label for="siape">SIAPE <span class="tooltipped red-text text-darken-2" data-delay="50" data-tooltip="Este campo é obrigatório.">*</span></label>
	                        </div>
	                        <div class="input-field col s6">
	                            <input id="name" type="text" th:field="*{nome}" class="validate" required="required"/>
	                            <label for="name">Nome <span class="tooltipped red-text text-darken-2" data-delay="50" data-tooltip="Este campo é obrigatório.">*</span></label>
	                        </div>
	                    </div>
	
	                    <div class="row">
	                        <div class="input-field col s6">
	                            <input id="email" type="email" th:field="*{email}" class="validate" required="required"/>
	                            <label for="email">Email <span class="tooltipped red-text text-darken-2" data-delay="50" data-tooltip="Este campo é obrigatório.">*</span></label>
	                        </div>
	                        <div class="input-field col s6">
	                            <input id="cargo" type="text" th:field="*{cargo}"  class="validate"/>
	                            <label for="cargo">Cargo</label>
	                        </div>
	                    </div>
	
	                    <div class="row">
	                        <div class="input-field col s6">
	                            <input id="funcao" type="text" th:field="*{funcao}"  class="validate"/>
	                            <label for="funcao">Função</label>
	                        </div>
							<div class="input-field col s6">
								
								<select th:field="*{papeis}" >
									<option th:each="papel : ${todos_papeis}" th:text="${papel}"
										th:value="${papel}" required="required"></option>
								</select> 
								<label for="papeis">Papeis<span class="tooltipped red-text text-darken-2" data-delay="50" data-tooltip="Este campo é obrigatório.">*</span>:</label>
							</div>
						</div>
						
				</div>
	            
	            <div class="card-action right-align">
	            	<a th:href="@{/usuario/listar/}" type="button" class="btn-flat waves-effect">Cancelar</a>
                    
                    <button th:if="${acao == 'ADICIONAR'}" type="submit" value="keep_add" class="btn waves-effect white-text">SALVAR E ADICIONAR OUTRO</button>
                    <button th:if="${acao == 'ADICIONAR'}" type="submit" value="exit" class="btn waves-effect white-text">SALVAR E SAIR</button>
                    <button th:if="${acao == 'EDITAR'}" type="submit" value="exit" class="btn waves-effect white-text">SALVAR</button>
	            </div>
	             
	        </form>
	    </div>	        	   
	</div>
	<!--end container-->
</section>
<section layout:fragment="js">
	<script type="text/javascript" th:src="@{/js/clinicas.js}"></script>
	<script type="text/javascript">		
	 $(document).ready(function() {
		    $('select').material_select();
		    $('input[name="_papeis"]').remove();
	});		
	</script>
</section>

</html>