  
.card {
	transition: 0.1s linear;
}

.card .card-image i {
	transition: 0.1s linear;
}

.card:hover {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .card-image i {
	transform: scale(1.15, 1.15);
}

.col {
	transition: 0.2s linear;
}